/* Title Area */

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

/* Title Section */

#title {
  background-color: #FF4C68;
  color: #fff;
}

#title-container {
  padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2 rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

#navbar-container {
  padding-left: 0;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  top: 22%;
  right: 22%;
}

/* Features Section*/

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-box {
  text-align: center;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

.feature-description {
  color: #8f8f8f;
  padding: 5%;
}

/* Testimonials Section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px 100px 80px;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action Section */

#cta {
  background-color: #FF4C68;
  color: #fff;
  text-align: center;
  padding-bottom: 3%;
}

.call-to-action {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 7% 15% 0%;
}

/* Footer */

#footer {
  background-color: #fff;
  text-align: center;
  padding: 7%;
}

.social-media {
  margin: 1.2%;
}

/* Medium and Smaller Media Query */

@media (max-width: 992px) {
  #title {
    text-align: center;
  }

  .title-image {
    width: 40%;
    position: static;
    transform: rotate(0);
  }

  #pricing {
    text-align: center;
  }
}
